* {
  margin: 0%;
}
header {
  display: flex;
  align-items: center;
  justify-content: right;
  background: rgb(138, 85, 138);
  height: 100px;
  font-size: 30px;
  padding-right: 100px;
}
header > img {
  margin-right: 10px;
}

h3 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
