* {
  box-sizing: border-box;
}
.main-body .user {
  width: 100px;
}

.main-body .star {
  width: 20px;
}

body {
  background: rgb(39, 39, 104);
}

main {
  background: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  margin-top: 100px;
}
