* {
  margin: 0%;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  box-shadow: 0px 1px 3px grey;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 12px;
  height: 38px; /* it increases gap bewteen header and form */
}

.form > button{
    background-color: black;
    color: aliceblue;
    border-radius: 6px;
}

.form > button::before{
    content: '+';
    margin-right: 5px;
}