* {
  margin: 0%;
}

.globe {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.globe > img {
  width: 30px;
}

.image-container {
  width: 125px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 10px;
  flex-shrink: 0;
}

.image {
  height: 100%;
}

.details {
  margin-left: 20px;
}

.info {
  display: flex;
  flex-shrink: 0;
}

.details1 {
  display: flex;
}
